.customBg {
  background-size: cover;
  background-position: center top;
  margin-top: -78px;
  width: 100%; /* Lebar viewport */
  height: 135vh; /* Tinggi viewport */
  flex-shrink: 0;
}
/* side abs */
.side1 {
  position: absolute;
  margin-top: 1200px;
  width: 8%;
  right: 0;
}

.side2 {
  position: absolute;
  width: 5%;
  left: 0%;
  margin-top: 1800px;
}
.side3 {
  position: absolute;
  width: 2%;
  right: 0%;
  margin-top: 2900px;
}

/* section 1 */
.button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: #ae39ff;
  border: none;
}
/* Tablet */
@media only screen and (max-width: 768px) {
  .button {
    padding: 10px 20px;
    border-radius: 20px;
    justify-content: center;
  }
}
/* Mobile */
@media only screen and (max-width: 480px) {
  .button {
    padding: 8px 16px;
    border-radius: 16px;
    justify-content: center;
  }
}

/*  h1 */
.h1 {
  margin-top: 150px;
  width: 676px;
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* resp tablet */
@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 26px;
    width: auto;
    margin-top: 80px;
  }
}
/* resp mobile */
@media only screen and (max-width: 480px) {
  .h1 {
    font-size: 30px;
    width: auto; /* Atur ulang lebar agar mengikuti lebar konten */
    margin-top: 120px;
  }
}

/* paragraf */
.pp {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*mobile */
@media (max-width: 767px) {
  .pp {
    font-size: 15px;
    margin-top: 40px;
  }
}
/*tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .pp {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .pp {
    font-size: 20px;
  }
}

/* style section 2 */
.customContainer {
  margin-top: 1.75rem; /* 7/4 */
  margin-left: 1rem; /* 4/4 */
}

.customContainer {
  margin-left: 0px; /* 16/4 */
  margin-top: 150px;
}

@media (min-width: 768px) {
  .customContainer {
    margin-left: 2.5rem; /* 10/4 */
  }
}

@media (min-width: 1024px) {
  .customContainer {
    margin-left: 4rem; /* 16/4 */
  }
}

.textPurple {
  color: #8a3ffc; /* Warna purple sesuai Tailwind */
  font-size: 1rem; /* Tailwind base size */
}

.textLg {
  font-size: 1rem; /* Tailwind size lg */
}

@media (min-width: 768px) {
  .textLg {
    font-size: 1.125rem; /* 18/16 */
  }
}

.texttwoxl {
  font-size: 1.5rem; /* Tailwind size 2xl */
}

@media (min-width: 1024px) {
  .texttwoxl {
    font-size: 2rem; /* 32/16 */
  }
}

.textBlue {
  color: #19245f; /* Warna blue sesuai Tailwind */
}

.text5xl {
  font-size: 3.125rem; /* Tailwind size 5xl */
}

@media (min-width: 1024px) {
  .text5xl {
    font-size: 3.125rem; /* 50/16 */
  }
}

.font-medium {
  font-weight: 500; /* Font medium sesuai Tailwind */
}

.font-bold {
  font-weight: bold; /* Font bold sesuai Tailwind */
}

.font-SF {
  font-family: "SF Pro Rounded", sans-serif; /* Font family sesuai Tailwind */
}

/* section 2 */
.customSection {
  padding-top: 1.25rem; /* 5/4 */
  padding-bottom: 0; /* Reset padding bottom */
}

.customIcon {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 50%;
}

.customImg {
  width: 2.5rem; /* 10/4 */
  height: 2.5rem; /* 10/4 */
  padding: 0.5rem;
}

.bgviolet {
  background-color: #8a3ffc; /* Warna violet */
}

.bgamber {
  background-color: #ffc107; /* Warna amber */
}

.bgblue {
  background-color: #007bff; /* Warna blue */
}

.customTitle {
  align-self: stretch;
  color: #2e334e;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.customDescription {
  align-self: stretch;
  color: #a3a6a6;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* section 3 */
.imgfluid {
  width: 100%;
  height: auto;
}

.textblue950 {
  color: #1c2661;
  font-family: SF Pro Rounded;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tentangkami {
  align-self: stretch;
  color: #1c2661;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}

/* section 4 */

.section4 {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  background: rgba(233, 239, 255, 0.8);
}

.mt-3 {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

/* Header text style */
.textcolor {
  color: #ae39ff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.textguru {
  color: #19245f;
  font-family: "SF Pro Rounded", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1; /* Sesuaikan nilai line-height sesuai kebutuhan */
  letter-spacing: 1.68px;
}

/* Penyesuaian untuk layar mobile */
@media (max-width: 767px) {
  .textguru {
    font-size: 40px; /* Ubah ukuran font untuk layar mobile */
    line-height: 1.2; /* Sesuaikan nilai line-height untuk mobile */
    letter-spacing: 1px; /* Sesuaikan letter-spacing untuk mobile */
  }
}

/* Penyesuaian untuk layar tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .textguru {
    font-size: 48px; /* Ubah ukuran font untuk layar tablet */
    line-height: 1.1; /* Sesuaikan nilai line-height untuk tablet */
    letter-spacing: 1.2px; /* Sesuaikan letter-spacing untuk tablet */
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

.cardtitle {
  align-self: stretch;
  color: #19245f;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cardtext {
  align-self: stretch;
  color: #2e334e;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card {
  border-radius: 60px;
}

/* section 5 */

.card5 {
  transition: transform 0.3s ease-in-out;
  /* Tambahkan gaya lainnya sesuai kebutuhanmu */
  transform: scale(1.05);
}

.cardImage5 {
  position: relative;
}

.dateButton {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 24px;
  background: #ae39ff;
  outline: none;
}
